@if (items().length) {

<div class="group overflow-hidden bg-amber-500 text-white border-b border-amber-600/20">

    <div class="flex w-max items-center gap-16 py-2
               animate-[marquee_35s_linear_infinite]
               group-hover:[animation-play-state:paused]">

        @for (item of items(); track $index) {

        <div class="flex items-center gap-2 whitespace-nowrap">

            <i [class]="item.icon"></i>

            <span>{{ item.text }}</span>

            @if(item.link){

            <a [href]="item.link" target="_blank" class="underline hover:opacity-80">

                Ver más

            </a>

            }

        </div>

        }

        <!-- duplicado -->

        @for (item of items(); track 'copy-' + $index) {

        <div class="flex items-center gap-2 whitespace-nowrap">

            <i [class]="item.icon"></i>

            <span>{{ item.text }}</span>

            @if(item.link){

            <a [href]="item.link" target="_blank" class="underline hover:opacity-80">

                Ver más

            </a>

            }

        </div>

        }

    </div>

</div>

}