:host { display: block; }

.layout-content {
  padding-top: 60px;
}

@media (min-width: 640px) {
  .layout-content { padding-top: 64px; }
}

@media (min-width: 1024px) {
  .layout-content { padding-top: 68px; }
}
